* {
  scroll-behavior: smooth;
  outline: none;
}

body {
  background-color: #ffffff;
}

.navbar-brand img {
  max-height: 30px;
}

.placeholder-nav {
  background-color: #2d3436;
}

.placeholder-nav ul li span {
  color: #e6e6e6;
}

nav {
  font-family: 'Assistant', sans-serif;
  background-color: transparent;
  font-size: .8em;
  font-weight: 200;
}

nav .nav-item .active {
  font-weight: 400;
}

nav .btn-login {
  background-color: transparent;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  color: #fff;
  border: 1px solid #cecece;
}

nav .btn-login:hover {
  background-color: #eeeeee;
  color: #000;
}

nav .btn-login:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header {
  background-image: url("../images/header/Group 5.jpg");
  background-size: cover;
  height: 550px;
  margin-top: -70px;
  padding: 160px 0 160px;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 800;
}

header h1 .title-click {
  color: #2ed573;
  font-family: 'Assistant', sans-serif;
}

header p {
  font-size: 14px;
}

header h1, header p {
  color: #fff;
}

header .btn-getStarted {
  margin-top: 100px !important;
  background-color: #01C476;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 1.1em;
  font-weight: 600;
  padding: 10px 20px 10px !important;
}

header .btn-getStarted:hover {
  background-color: #1ce695;
  color: #fff;
}

header .btn-getStarted:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .divider-content {
  margin: 50px 0px 50px;
}

main .section-stats {
  margin-top: 10px;
}

main .stats-detail {
  background-color: #fff;
  margin-top: 10px;
  padding-top: 15px;
  padding-left: 55px;
}

main .stats-detail h2 {
  margin-bottom: 0 !important;
  font-size: 22px;
  font-weight: 500;
}

main .stats-detail p {
  font-weight: 200;
  color: #999898;
}

main .section-popular-heading {
  padding-top: 50px;
}

main .section-popular-heading .popular-title {
  margin-bottom: 60px;
}

main .section-popular-heading .popular-title h2 {
  color: #138A79;
  font-weight: 300;
  font-size: 30px;
}

main .section-popular-content .card-travel {
  padding: 15px;
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

main .section-popular-content .card-travel .country-name {
  font-family: 'Montserrat', sans-serif;
  font-size: .8em;
  font-weight: 200;
  color: #acac;
}

main .section-popular-content .card-travel .location-name {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

main .section-popular-content .card-travel .button-card {
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

main .section-popular-content .card-travel .button-card a {
  font-weight: 400;
  color: #fff;
  background-color: #01C476;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

main .section-popular-content .card-travel .button-card a:hover {
  background-color: #08e28b;
}

main .section-popular-content .card-travel .button-card a:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .section-background {
  padding-top: 200px;
  margin-top: -180px;
  height: 400px;
  background-color: #031a16;
}

main .section-testimonial-heading {
  font-size: 22px;
  color: #fff;
  font-weight: 200;
  margin-top: -60px;
  margin-bottom: 50px;
}

main .section-testimonial-content .testimonial-nama {
  color: #138A79;
  font-family: 'Assistant', sans-serif;
}

main .section-testimonial-content .testimonial-trip {
  color: #656565 !important;
  font-size: 12px;
}

main .section-testimonial-content .card-testimonial {
  margin: 20px;
  border-radius: 30px 30px 30px 0px;
  padding: 15px;
  min-height: 270px;
  -webkit-box-shadow: 0px 0px 4px 0px grey;
          box-shadow: 0px 0px 4px 0px grey;
}

main .section-button-cta-bottom {
  margin-top: 100px;
}

main .section-button-cta-bottom .btn-need-help {
  font-size: 10px;
  background-color: #f0efef;
  color: #beb9b9;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

main .section-button-cta-bottom .btn-need-help:hover {
  background-color: #f7f7f7;
  color: #beb9b9;
}

main .section-button-cta-bottom .btn-need-help:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .section-button-cta-bottom .btn-get-started {
  font-size: 10px;
  background-color: #01C476;
  color: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

main .section-button-cta-bottom .btn-get-started:hover {
  background-color: #06df88;
}

main .section-button-cta-bottom .btn-get-started:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .section-partner-heading {
  margin-top: 150px;
  margin-bottom: 60px;
}

main .section-partner-heading h2 {
  color: #138A79;
  font-weight: 300;
  font-size: 25px;
  margin-bottom: 0px !important;
}

main .section-partner-heading p {
  color: #969595;
  font-size: 13px;
}

main .section-partner-content .card-partner {
  height: 270px;
  padding: 30px 0px 10px;
  background-color: #fff;
  margin-bottom: 10px;
}

main .section-partner-content .partner-name {
  color: #138A79;
  font-size: 18px;
}

main .section-partner-content .partner-skill {
  font-size: 14px;
  color: #999898;
}

.section-footer {
  background-color: #747474;
  padding: 50px 0px 50px;
  margin-top: 150px;
}

.section-footer h4 {
  font-size: 20px;
  color: #08947f;
  margin-bottom: 0px !important;
}

.section-footer a {
  text-decoration: none;
  font-weight: 300;
  line-height: 19px;
  font-size: 15px;
  color: #9F9F9F;
}

.section-footer .copyright-footer {
  margin-top: 50px;
  color: #5dc7b5;
  font-weight: 300;
  font-size: 16px;
}

/*===================HALAMAN DETAILS universal========================*/
.nav-detail {
  background-color: #185B52 !important;
}

main .section-details-header {
  margin-top: -85px;
  min-height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(#DFDADA), to(#fff));
  background: linear-gradient(#DFDADA, #fff);
}

main .section-details-content {
  min-height: 70vh;
}

main .section-details-content .breadcrumb {
  font-weight: 300;
  margin-top: -210px;
  background-color: transparent;
}

main .section-details-content .breadcrumb-item {
  color: #7e7e7e;
}

main .section-details-content .breadcrumb .active {
  color: #2d3436;
  font-weight: 400;
}

main .section-details-card {
  border-radius: 5px;
  background-color: #fff;
  margin-top: -170px;
  padding: 20px 0px 20px;
  width: 100%;
  -webkit-box-shadow: 0px 0px 2px .2px grey;
          box-shadow: 0px 0px 2px .2px grey;
}

main .section-details-card .details-heading {
  margin: 0px 20px;
}

main .section-details-card .details-heading h1 {
  margin-bottom: 0px !important;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

main .section-details-card .details-heading p {
  color: #777777;
  font-size: 10px;
  margin-top: 2px !important;
}

main .section-details-card .details-image {
  height: 100%;
  background-color: #acacac;
}

main .section-details-card .details-description {
  font-size: 13px;
  margin: 10px 15px;
}

main .section-details-card .details-description span {
  font-weight: 700;
}

main .section-details-card .details-features {
  margin: 20px;
}

main .section-details-card .details-features .col-md-4 {
  margin: 5px 0px;
}

main .section-details-card .details-features .col-md-4 img {
  width: 45px;
  height: 45px;
  float: left;
  margin-right: 5px;
}

main .section-details-card .details-features .col-md-4 h6 {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0;
  padding: 0;
}

main .section-details-card .details-features .col-md-4 p {
  font-size: 13px;
  margin: 0;
}

main .section-details-card .details-features .col-md-4 .description {
  margin-top: 7px;
}

main .section-details-card .gallery .xzoom-container {
  display: block;
}

main .section-details-card .gallery .xzoom-container .xzoom {
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 100%;
  max-height: 245px;
}

main .section-details-card .gallery .xzoom-thumbs {
  margin-top: 2px;
}

main .details-card-information {
  margin-top: 40px;
  padding: 15px;
  border-radius: 3px 3px 0px 0px;
}

main .details-card-information h2 {
  font-size: 17px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
}

main .details-card-information .members img {
  margin-bottom: 0px;
  height: 30px;
  width: 30px;
}

main .details-card-information h6 {
  font-size: 13px;
  font-weight: 700;
}

main .details-card-information tr th {
  font-size: 11px;
  width: 130px;
}

main .details-card-information tr td {
  font-size: 10px;
  font-weight: 600;
  color: #888888;
}

main .details-card-information .btn-join-trip {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  border-radius: 0px;
  margin: 20px -15px -20px;
  background-color: #01C476;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

main .details-card-information .btn-join-trip:hover {
  background-color: #07db86;
}

main .details-card-information form .btn-join-trip {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  border-radius: 0px;
  width: 113%;
  background-color: #01C476;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

main .details-card-information form .btn-join-trip:hover {
  background-color: #07db86;
}

@media (min-width: 992px) {
  nav {
    font-family: 'Assistant', sans-serif;
    font-size: 15px;
    font-weight: lighter;
  }
  nav .navbar-brand img {
    max-height: 40px;
  }
  nav .nav-item .active {
    font-weight: 500;
  }
  nav .btn-login {
    font-size: 12px;
    background-color: transparent;
    -webkit-transition: .2s ease;
    transition: .2s ease;
    color: #fff;
    border: 1px solid #cecece;
  }
  nav .btn-login:hover {
    background-color: #eeeeee;
    color: #000;
  }
  nav .btn-login:active {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  header {
    background-image: url("../images/header/Group 5.jpg");
    background-size: cover;
    height: 655px;
    margin-top: -70px;
    padding: 235px 0 165px;
  }
  header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: 800;
  }
  header h1 .title-click {
    color: #2ed573;
    font-family: 'Assistant', sans-serif;
  }
  header p {
    font-size: 18px;
  }
  header h1, header p {
    color: #fff;
  }
  header .btn-getStarted {
    margin-top: 100px !important;
    background-color: #01C476;
    -webkit-transition: .3s;
    transition: .3s;
    font-size: 1.3em;
    font-weight: 600;
    padding: 10px 30px 10px !important;
  }
  header .btn-getStarted:hover {
    background-color: #1ce695;
    color: #fff;
  }
  header .btn-getStarted:active {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  main .section-stats {
    margin-top: -50px;
  }
  main .stats-detail {
    background-color: #fff;
    margin-top: 10px;
    padding-top: 15px;
    padding-left: 55px;
  }
  main .stats-detail h2 {
    margin-bottom: 0 !important;
    font-size: 28px;
  }
  main .section-popular-heading {
    padding-top: 50px;
  }
  main .section-popular-heading .popular-title {
    margin-bottom: 60px;
  }
  main .section-popular-heading .popular-title h2 {
    color: #138A79;
    font-weight: 300;
    font-size: 30px;
  }
  main .section-popular-content .card-travel {
    min-height: 295px;
    background-size: cover;
  }
  main .section-popular-content .card-travel .country-name {
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.8);
    z-index: 2;
  }
  main .section-popular-content .card-travel .location-name {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    z-index: 2;
    font-weight: 400;
  }
  main .section-popular-content .card-travel .button-card {
    color: #fff;
    z-index: 2;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  main .section-popular-content .card-travel .button-card a {
    font-weight: 400;
    background-color: #01C476;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  main .section-popular-content .card-travel .button-card a:hover {
    background-color: #08e28b;
    color: #fff;
  }
  main .section-popular-content .card-travel .button-card a:hover:active {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  main .section-popular-content .card-travel::after {
    content: "";
    background-color: black;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    opacity: .4;
    z-index: 1;
  }
  main .section-networks {
    margin: 100px -200px 0px;
  }
  main .section-networks .networks-title h3 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 0;
  }
  main .section-networks .networks-title p {
    color: #b4b4b4;
    line-height: 17px;
    font-size: 12px;
  }
  main .section-background {
    margin-top: -170px;
    height: 320px;
  }
  main .section-testimonial-heading {
    font-size: 30px;
    color: #fff;
    font-weight: 300;
    margin-top: -80px;
    margin-bottom: 50px;
  }
  main .section-testimonial-content .testimonial-nama {
    color: #138A79;
    font-family: 'Assistant', sans-serif;
  }
  main .section-testimonial-content .testimonial-trip {
    color: #656565 !important;
    font-size: 12px;
  }
  main .section-testimonial-content .card-testimonial {
    background-color: #fff;
    margin: 20px;
    border-radius: 30px 30px 30px 0px;
    padding: 35px 20px 20px !important;
    min-height: 270px;
    -webkit-box-shadow: 0px 0px 4px 0px grey;
            box-shadow: 0px 0px 4px 0px grey;
  }
  main .section-testimonial-content .testimonial-pesan {
    color: #757474;
    font-weight: lighter;
    font-size: 15px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
  main .section-partner-heading {
    margin-top: 150px;
    margin-bottom: 60px;
  }
  main .section-partner-heading h2 {
    color: #138A79;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 0px !important;
  }
  main .section-partner-heading p {
    color: #969595;
  }
  main .section-partner-content .card-partner {
    height: 270px;
    padding: 35px 0px 10px;
    background-color: #fff;
  }
  main .section-partner-content .partner-name {
    color: #138A79;
    font-size: 18px;
  }
  main .section-partner-content .partner-skill {
    font-size: 14px;
    color: #999898;
  }
  main .section-button-cta-bottom {
    margin-top: 150px;
  }
  main .section-button-cta-bottom .btn-need-help {
    font-size: 18px;
    background-color: #f0efef;
    color: #beb9b9;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  main .section-button-cta-bottom .btn-need-help:hover {
    background-color: #f7f7f7;
    color: #beb9b9;
  }
  main .section-button-cta-bottom .btn-need-help:active {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  main .section-button-cta-bottom .btn-get-started {
    font-size: 18px;
    background-color: #01C476;
    color: #fff;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  main .section-button-cta-bottom .btn-get-started:hover {
    background-color: #06df88;
  }
  main .section-button-cta-bottom .btn-get-started:active {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .section-footer {
    background-color: #185B52;
    padding: 50px 0px 50px;
    margin-top: 150px;
  }
  .section-footer h4 {
    font-size: 20px;
    color: #08947f;
    margin-bottom: 0px !important;
  }
  .section-footer a {
    text-decoration: none;
    font-weight: 300;
    line-height: 19px;
    font-size: 15px;
    color: #9F9F9F;
  }
  .section-footer .copyright-footer {
    margin-top: 50px;
    color: #5dc7b5;
    font-weight: 300;
    font-size: 16px;
  }
  /*==================== HALAMAN DETAILS desktop========================*/
  .nav-detail {
    background-color: #185B52 !important;
  }
  main .section-details-header {
    margin-top: -67px;
    min-height: 300px;
    background: #185B52;
  }
  main .section-details-content {
    min-height: 60vh;
  }
  main .section-details-content .breadcrumb {
    font-weight: 300;
    margin-top: -210px;
    background-color: transparent;
  }
  main .section-details-content .breadcrumb-item {
    color: #7e7e7e;
  }
  main .section-details-content .breadcrumb .active {
    color: #2d3436;
    font-weight: 400;
  }
  main .section-details-card {
    border-radius: 5px;
    background-color: #fff;
    margin-top: -140px;
    padding: 20px 0px 20px;
    width: 520px;
    -webkit-box-shadow: 0px 0px 2px .2px grey;
            box-shadow: 0px 0px 2px .2px grey;
  }
  main .section-details-card .details-heading {
    margin: 0px 20px;
  }
  main .section-details-card .details-heading h1 {
    margin-bottom: 0px !important;
    font-size: 20px;
    font-weight: 400;
    color: black;
  }
  main .section-details-card .details-heading p {
    color: #777777;
    font-size: 12px;
    margin-top: 2px !important;
  }
  main .section-details-card .details-image {
    height: 290px;
    background-color: #acacac;
  }
  main .section-details-card .details-description {
    font-size: 14px;
    margin: 10px 15px;
  }
  main .section-details-card .details-description span {
    font-weight: 700;
  }
  main .section-details-card .details-features {
    margin: 20px;
  }
  main .section-details-card .details-features .col-md-4 img {
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 5px;
  }
  main .section-details-card .details-features .col-md-4 h6 {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0;
    padding: 0;
  }
  main .section-details-card .details-features .col-md-4 p {
    font-size: 11px;
    margin: 0;
  }
  main .section-details-card .details-features .col-md-4 .description {
    margin-top: 7px;
  }
  main .section-details-card .gallery .xzoom-container {
    display: block;
  }
  main .section-details-card .gallery .xzoom-container .xzoom {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    max-height: 245px;
  }
  main .section-details-card .gallery .xzoom-thumbs {
    margin-top: -30px;
  }
  main .details-card-information {
    margin-top: -140px;
    padding: 20px;
    border-radius: 3px 3px 0px 0px;
  }
  main .details-card-information h2 {
    font-size: 19px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
  }
  main .details-card-information .members img {
    margin-bottom: 0px;
    height: 44px;
    width: 46px;
  }
  main .details-card-information h6 {
    font-size: 15px;
    font-weight: 500;
  }
  main .details-card-information tr th {
    font-size: 14px;
    width: 170px;
    font-weight: 400;
  }
  main .details-card-information tr td {
    font-size: 14px;
    font-weight: 400;
    color: #888888;
  }
  main .details-card-information .btn-join-trip {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border-radius: 0px;
    margin: 30px -20px -20px;
    background-color: #01C476;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  main .details-card-information .btn-join-trip:hover {
    background-color: #07db86;
  }
  nav ul li .motto {
    font-size: 14px;
    font-weight: 200;
  }
  main .section-details-header-checkout {
    margin-top: -67px;
    min-height: 300px;
    background-color: #e9e9e9;
  }
  main .attendee table tr th {
    font-family: 'Assistant', sans-serif;
    font-weight: 500;
    color: #6d6d6d;
  }
  main .attendee table tr td {
    color: #707070;
  }
  main .member .form-row .form-group .btn-add-member {
    background-color: #185B52;
    color: white;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  main .member .form-row .form-group .btn-add-member:hover {
    background-color: #23bb62;
  }
  main .member .note-checkout h6 {
    font-weight: 600;
    font-size: 14px;
  }
  main .member .note-checkout p {
    font-size: 12px;
    line-height: 12px;
  }
  main .payment-method h4 {
    font-weight: 500;
    font-size: 16px;
  }
  main .payment-method .row .col img {
    float: left;
    margin-top: 10px;
  }
  main .payment-method .row .col p {
    color: #6e6d6d;
    font-weight: 400;
    font-size: 13px;
  }
  .nav-success-checkout {
    background-color: transparent;
  }
  main .background-success-checkout {
    margin: -68px 0px 0px;
    height: 200px;
    width: 100%;
    background-color: #084239;
  }
  main .section-success-checkout {
    margin: -60px 0px 0px;
  }
  main .section-success-checkout h1 {
    font-size: 30px;
    font-family: 'Assistant', sans-serif;
    color: #e0e0e0;
    margin-bottom: 50px;
  }
  main .section-success-checkout img {
    width: 200px;
  }
  main .section-success-checkout p {
    margin-top: 20px;
    font-size: 17px;
    font-family: 'Assistant', sans-serif;
    color: #9F9F9F;
    font-weight: 200;
    line-height: 18px;
  }
  main .section-success-checkout .btn-success-checkout {
    font-size: 17px;
    margin-top: 20px;
    font-weight: 600;
    color: #fff;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    padding: 8px 50px;
    background-color: #01C476;
  }
  main .section-success-checkout .btn-success-checkout:hover {
    background-color: #2ed573;
  }
  main .section-success-checkout span {
    color: #01C476;
  }
}
/*# sourceMappingURL=main.css.map */